.options {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.cards {
    display: flex;
    flex-direction: column;
    gap: 20px;
    .detail {
        display: flex;
        gap: 30px;
        flex-wrap: wrap;
    }
}