.modal-content {
    color: #3c4b64;
    font-weight: 500;
    .modal-footer {
        .btn {
            font-size: 1.6rem;
            font-family: inherit;
            padding: 10px 20px;
            font-weight: 600;
        }
    }

}